@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .bg-navbar{
    background-color: rgb(255, 172, 146) !important;

}

a {
    text-decoration: none !important;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    #image-section .container {
        width: 60%;
    }
}   